<div class="col-12 p-3">
  <div class="card">
    <h5 class="card-title px-3">Vehicle details</h5>
    <div class="card-body">
      <div class="row g-3">
        <div class="col-12 col-lg-4">
          <label for="make">Make</label>
          <input
            type="text"
            class="form-control"
            id="make"
            name="make"
            [(ngModel)]="model.make"
          />
        </div>
        <div class="col-12 col-lg-4">
          <label for="model">Model</label>
          <input
            type="text"
            class="form-control"
            id="model"
            name="model"
            [(ngModel)]="model.model"
          />
        </div>
        <div class="col-12 col-lg-4">
          <label for="phone">Year</label>
          <input
            type="number"
            class="form-control"
            id="year"
            name="year"
            [(ngModel)]="model.year"
          />
        </div>
        <div class="col-12 col-lg-4">
          <label for="vin">VIN</label>
          <input
            type="text"
            class="form-control"
            id="vin"
            name="vin"
            [(ngModel)]="model.vin" [disabled] = "model.edited"
          />
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="d-flex align-items-center">
    <button class="btn btn-light me-2 ms-auto" (click)="reset()">Reset</button>
    <button id="save" class="btn btn-success" (click)="save()">Save</button>
  </div>
</div>
